@model TrainBooking.ViewModels.PathVM

@{
    ViewData["Title"] = "Select";
}

<div>
    <table class="table">
        <tr>
            <th></th>
            <th>Station</th>
            <th>Time</th>
        </tr>
        @if(Model.SectionsVM != null){
            @foreach(var item in Model.SectionsVM){
                <tr>
                    <td>Departure</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureStation)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>
                </tr>
                <tr>
                    <td>Arrival</td>
                    <td>@Html.DisplayFor(modelItem => item.DestinationStation)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                </tr>
            }
        }
    </table>
    <select>
        <option>Economy class</option>
        <option>Business class</option>
    </select>
</div>
<div>
    <script>
        var e = document.getElementById("ddlViewBy");
        var value = e.value;
        var text = e.options[e.selectedIndex].text;
    </script>
    
    <button asp-action="Ticket" asp-route-id="" asp-route-departureDate="" asp-route-selectedClass="">Buy</button>
    <a asp-action="Index">Back to List</a>
</div>