@using Microsoft.AspNetCore.Mvc.Localization;
@{
    ViewData["Title"] = "Home Page";
}

@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <a class="btn btn-primary" href="/Booking">@Localizer["Book a Train"]</a>
    <p>@Localizer["Introduction Text"]</p>
</div>
