
@{
    ViewData["Title"] = "Index";
}

<h1>About</h1>


<p>This website is an exam project for the course Full Stack Development in the second year of Applied Computer Science at Vives Kortrijk.</p>
<p>It was made by Bram van Haverbeke and Pixie Moortgat throughout the second semester of the 2022-2023 school year.</p>
<p>Made in .NET 6 using Visual Studio 2022<br />
    Website and SQL database hosted using Azure</p>
<a href="https://github.com/PixieMgt/TrainBooking">Click here to see the source code</a>
