@model TrainBooking.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>

@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
            @{
                float total = 0;
            }
            @for (var i = 0; i < Model.Cart.Count; i++)
            {

                <tr>
                    <td>
                        <a asp-action="Delete" asp-route-bierNr="@Model.Cart[i].Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <input type="submit" value="Checkout"
                           class="btn btn-default" />
                </td>
            </tr>
            <tr>

                <td id="cart-total">
                    Total  <input id="txtTotal" value="@total"
                                  type="number" readonly="readonly" />
                </td>
            </tr>
        </table>
    </form>
}
else
{
    @Html.Raw("Your shoppingcart is empty at the moment")
}